<table class="table table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Ativo</th>
    <th scope="col">Posição<br></th>
    <th scope="col">Quantidade<br></th>
  </tr>
  </thead>

  <tbody>
  <% @carteira_posicao.carteira_ativos_posicoes_por_corretora.each do |corretora_nome, tipos|  %>
    <tr class="table-primary">
      <td colspan="3">
        <h6><%= corretora_nome %></h6>
      </td>
    </tr>
    <% tipos.each do |tipo, carteira_ativos_posicoes| %>
      <tr class="table-dark">
        <td colspan="3">
          <h6><%= tipo.upcase %></h6>
        </td>
      </tr>
      <% carteira_ativos_posicoes.each do |cap| %>
        <% ca = cap.carteira_ativo %>
        <tr>
          <td><%= link_to ca.nome_amigavel, carteira_carteira_posicao_path(@carteira, ca) %></td>
          <td><%= display_moeda cap.valor_posicao, moeda: cap.ativo.moeda %></td>
          <td><%= display_numero cap.quantidade %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>

</table>