<% ativo = @carteira_ativo.ativo %>
<h4><%= ativo.nome_amigavel %> em <%= display_data @data %> (ver <%= link_to 'histórico cotações', ativo_cotacoes_path(ativo) %>)</h4>

<dl class="row">
  <dt class="col-sm-3">Investido</dt>
  <dd class="col-sm-9"><%= display_moeda @carteira_ativo_posicao.valor_investido, moeda: ativo.moeda %></dd>

  <dt class="col-sm-3">Valor posição</dt>
  <dd class="col-sm-9">
    <%= display_moeda @carteira_ativo_posicao.valor_posicao, moeda: ativo.moeda %>
    (<%= display_rentabilidade @carteira_ativo_posicao %>)
  </dd>

  <dt class="col-sm-3">Preço Médio</dt>
  <dd class="col-sm-9"><%= display_moeda @carteira_ativo_posicao.preco_medio, moeda: ativo.moeda %></dd>

  <dt class="col-sm-3">Preço Atual</dt>
  <dd class="col-sm-9"><%= display_preco_atual @carteira_ativo_posicao %></dd>

  <dt class="col-sm-3">Quantidade</dt>
  <dd class="col-sm-9"><%= @carteira_ativo_posicao.quantidade %></dd>

  <dt class="col-sm-3">Porcentagem na carteira</dt>
  <dd class="col-sm-9"><%= display_porcentagem @carteira_posicao.porcentagem_carteira_ativo @carteira_ativo_posicao.carteira_ativo %></dd>

  <dt class="col-sm-3">Porcentagem teórica</dt>
  <dd class="col-sm-9"><%= display_porcentagem @carteira_ativo.porcentagem %> (<%= link_to 'editar', edit_carteira_carteira_referencia_path(@carteira, @carteira_ativo) %>)</dd>
</dl>

<br>
<% operacoes = @carteira_ativo.operacoes.order(:data)  %>
<h5>Operações (<%= link_to 'registrar operação', new_carteira_operacao_path(@carteira) %>)</h5>
<%= render 'common/operacoes_table',
           operacoes: operacoes,
           mostra_nome: false %>
