<% ativo = @carteira_ativo.ativo %>
<h6><%= ativo.nome_amigavel %> em <%= display_data @data %> (ver <%= link_to 'histórico cotações', ativo_cotacoes_path(ativo) %>)</h6>
<h6>Investido: <%= display_moeda @carteira_ativo_posicao.valor_investido, moeda: ativo.moeda %></h6>
<h6>Valor posição: <%= display_moeda @carteira_ativo_posicao.valor_posicao, moeda: ativo.moeda %>
  (<%= display_porcentagem @carteira_ativo_posicao.rentabilidade, cores: true %>)</h6>
<h6>Quantidade: <%= @carteira_ativo_posicao.quantidade %></h6>
<h6>Porcentagem na carteira: <%= display_porcentagem @carteira_posicao.porcentagem_carteira_ativo @carteira_ativo_posicao %></h6>
<h6>Porcentagem teórica: <%= display_porcentagem @carteira_ativo.porcentagem %> (<%= link_to 'editar', edit_carteira_carteira_referencia_path(@carteira, @carteira_ativo) %>)</h6>

<% operacoes = @carteira_ativo.operacoes.order(:data)  %>

<br>
<h5>Operações (<%= link_to 'registrar operação', new_carteira_operacao_path(@carteira) %>)</h5>
<%= render 'common/operacoes_table',
           operacoes: operacoes,
           mostra_nome: false %>
