<% show_ativos = local_assigns.fetch :show_ativos, false %>

<table class="table table-sm">
  <thead>
  <% if show_ativos %>
    <th>Ativo</th>
  <% end %>
  <th>Data</th>
  <th>Preço</th>
  <th>Timestamp</th>
  <th>Fonte</th>
  <% if policy(Cotacao).edit? %>
    <th></th>
  <% end %>
  </thead>
  <tbody>
  <% @cotacoes.each do |cotacao| %>
    <% ativo = cotacao.ativo %>
    <tr>
      <% if show_ativos %>
        <td><%= link_to ativo.nome_amigavel, ativo_cotacoes_path(ativo) %></td>
      <% end %>
      <td><%= display_data cotacao.data  %></td>
      <td><%= display_moeda cotacao.valor_unit, moeda: cotacao.ativo.moeda %></td>
      <td><%= cotacao.created_at %></td>
      <td><%= cotacao.fonte %></td>
      <% if policy(cotacao).edit? %>
        <td><%= link_to 'Editar', edit_ativo_cotacao_path(ativo, cotacao) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>