<%= render 'common/titulo_pagina', titulo: "Conta Corrente #{@conta_corrente.nome} de carteira #{@carteira.nome} em #{display_data @data}" %>

<h6>Saldo <%= display_moeda @conta_corrente.saldo(@data), moeda: @conta_corrente.moeda %></h6>

<%= render 'common/btn_new', url: new_carteira_conta_corrente_extrato_path(@carteira, @conta_corrente), label: 'Nova entrada' %>
<%= render 'common/btn_edit', url: edit_carteira_conta_corrente_path(@carteira, @conta_corrente) %>

<%= bootstrap_form_tag url: import_carteira_conta_corrente_extratos_path(@carteira, @conta_corrente) do |f| %>
  <%= hidden_field_tag :conta_corrente_id, @conta_corrente.id %>
  <%= f.file_field :file, label: 'Importar extrato', placeholder: 'Arquivo de extrato' %>

  <%= f.submit 'Importar' %>
<% end %>
<% if @conta_corrente.corretora.nome == 'Vitreo' %>
  <h5 class="text-danger">Para Vitreo é necessário converter o arquivo baixado CSV para Excel xlsx</h5>
<% end %>
<% if @conta_corrente.corretora.nome == 'Avenue' %>
  <h5 class="text-danger">Para Avenue é necessário CSV BR. CSV padrao US (que usa virgula) 'e bugado</h5>
<% end %>

<table class="table table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Liquidação</th>
    <th scope="col">Movimentação</th>
    <th scope="col">Descrição</th>
    <th scope="col">Valor</th>
    <th scope="col">Saldo</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @extratos.each do |extrato| %>
    <tr <%= 'class=table-warning' if extrato.temporario %>>
      <td><%= display_data extrato.liquidacao %></td>
      <td><%= display_data extrato.movimentacao %></td>
      <td>
        <%= extrato.descricao %>
        <% if extrato.processado %>
          <span class="badge rounded-pill bg-primary">processado</span>
        <% end %>
        <% if extrato.temporario %>
          <span class="badge rounded-pill bg-dark">temporario</span>
        <% end %>
      </td>
      <td><%= display_moeda extrato.valor, moeda: @conta_corrente.moeda, cores: true %></td>
      <td><%= display_moeda(extrato.saldo, moeda: @conta_corrente.moeda, cores: true) if extrato.saldo %></td>
      <td>
        <% unless extrato.processado %>
          <%= link_to 'Editar', edit_carteira_conta_corrente_extrato_path(@carteira, @conta_corrente, extrato) %>
          <%= render 'common/btn_delete', url: carteira_conta_corrente_extrato_path(@carteira, @conta_corrente, extrato), resource: extrato %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>