
<div class="container">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ativo</th>
        <th scope="col">Peso</th>
        <th scope="col">Moeda</th>
      </tr>
    </thead>
    <tbody>
      <% book = '' %>
      <% @carteira.carteira_ativos.where(valido: true).each do |cativos| %>
        <% if book != cativos.book %>
          <% book = cativos.book %>
          <% book_percent = @carteira.books_porcentagem[book] %>
          <tr class="table-primary text-center">
            <td colspan="3">
              <h5><%= book %> (<%= display_porcentagem book_percent %>)</h5>
            </td>
          </tr>
      <% end %>
        <tr>
          <td><%= cativos.ativo.nome_completo %></td>
          <td><%= display_porcentagem cativos.porcentagem %></td>
          <td><%= cativos.ativo.moeda %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>