
<div class="container">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Ativo</th>
      <th scope="col">Posição</th>
      <th scope="col">Referência</th>
      <th scope="col">Diff valor</th>
    </tr>
    </thead>
    <tbody>

    <% @carteira_ativos_soma.each do |ca_book, carteira_ativos| %>
        <tr class="table-primary">
          <td>
            <h6><%= ca_book %></h6>
          </td>
          <td>
            <h6><%= display_porcentagem @carteira_posicao.porcentagem_por_book[ca_book] %></h6>
          </td>
          <td>
            <h6><%= display_porcentagem @carteira.ref_books_porcentagem[ca_book] %></h6>
          </td>
          <td></td>
        </tr>
        <% carteira_ativos.each do |ca| %>
          <% if @carteira_ativos_posicao.include?(ca) && @carteira_ativos.include?(ca) %>
            <% span_class = 'font-weight-bold' %>
          <% else %>
            <% span_class = 'font-weight-light' %>
          <% end %>
          <tr>
            <td><span class="<%= span_class %>"><%= link_to ca.nome_amigavel, carteira_carteira_ativo_path(@carteira, ca) %></span></td>
            <td><span class="<%= span_class %>"><%= display_porcentagem @carteira_posicao.porcentagem_carteira_ativo(ca) %></span></td>
            <td><span class="<%= span_class %>"><%= display_porcentagem ca.porcentagem %></span></td>
            <td><span class="<%= span_class %>"><%= display_moeda(ca.valor_posicao - @carteira_posicao.valor_teorico_carteira_ativo(ca), cores: true) %></span></td>
          </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>