
<div class="row">
  <div class="col-lg">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h3><%= display_moeda @carteira_posicao.total_geral %></h3>
        <small class="text-muted"><%= display_porcentagem @carteira_posicao.rentabilidade, cores: true %> dos
          <%= display_moeda @carteira_posicao.total_investido %> investidos</small>
        <br>
        <br>
        <h5><%= display_moeda @carteira_posicao.total_ativos %><small class="text-muted"> em ativos</small></h5>
        <% @carteira_posicao.total_ativos_por_corretora.each do |corretora, moeda_total| %>
            <% moeda_total.each do |moeda, total| %>
              <span class="font-weight-lighter">
                <%= display_moeda total, moeda: moeda %>
                  <small class="text-muted">
                    <%= corretora.nome %>
                  </small>
              </span>
            <% end %>
          <br>
        <% end %>
        <br>
        <h5><%= display_moeda @carteira_posicao.saldo_cc_total %> <small class="text-muted"> em conta corrente</small></h5>
        <% @contas_correntes.each do |cc| %>
            <% next if cc.saldo == 0  %>
            <span class="font-weight-lighter">
              <%= display_moeda cc.saldo, moeda: cc.moeda %>
              <small class="text-muted">
                saldo <%= cc.corretora.nome %>
                (<%= link_to 'extrato', conta_corrente_path(cc) %>)
              </small>
            </span>
            <br>
        <% end %>

      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Últimas operações <small>(<%= link_to 'ver todas', carteira_operacoes_path(carteira_id: @carteira.id) %>)
          (<%= link_to 'nova', new_carteira_operacao_path(carteira_id: @carteira.id) %>)</small>
        </h5>

        <table class="table table-borderless table-sm">
          <tbody>
            <% @carteira_posicao.ultimas_operacoes.each do |operacao| %>
              <tr>
                <td><%= display_data operacao.data %></td>
                <td><%= operacao.carteira_ativo.ativo.nome %> </td>
                <td><%= operacao.operacao %></td>
                <td><%= display_moeda operacao.quantidade * operacao.valor_unit * operacao.usdbrl, cores: true %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<br>

</div>