
<div class="row">
  <div class="col">
    <h2>Carteira <%= @carteira.nome %></h2>
  </div>
  <div class="col">
    <p>Dólar: <%= display_moeda Cotacao.cotacao_usdbrl.valor_unit %>
      <small>(<%= display_data Cotacao.cotacao_usdbrl.data %>)</small>
    </p>
  </div>
  <div class="col">
  </div>
</div>

<div class="row">
  <div class="col-lg">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h3><%= display_moeda @carteira_posicao.total_geral %></h3>
        <small class="text-muted"><%= display_porcentagem @carteira_posicao.rentabilidade, cores=true %> dos
                    <%= display_moeda @carteira_posicao.total_investido %> investidos</small>
        <br>
        <br>
        <h6>
          <%= display_moeda @carteira_posicao.total_ativos %>
          <small class="text-muted"> em ativos</small>
        </h6>
        <h6><%= display_moeda @carteira_posicao.saldo_cc_total %> <small class="text-muted"> em conta corrente</small></h6>
        <% @contas_correntes.each do |cc| %>
            <% next if cc.saldo == 0  %>
            <span class="font-weight-light">
              <%= display_moeda cc.saldo, moeda: cc.moeda %> <small class="text-muted"> saldo <%= cc.corretora.nome %>
                (<%= link_to 'extrato', conta_corrente_path(cc) %>)
              </small>
            </span>
            <br>
        <% end %>

      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <table class="table table-borderless table-sm">
          <h5 class="card-title">Composição</h5>
          <tr><td></td><td><strong>Posição</strong></td><td><strong>Referência</strong></td></tr>
          <% @carteira_posicao.porcentagem_por_book.each do |book, porcentagem| %>
            <tr>
              <td><%= book %></td>
              <td><%= display_porcentagem porcentagem %></td>
              <td><%= display_porcentagem @carteira.ref_books_porcentagem[book] %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Últimas operações <small>(<%= link_to 'ver todas', carteira_operacoes_path(carteira_id: @carteira.id) %>)
          (<%= link_to 'nova', new_carteira_operacao_path(carteira_id: @carteira.id) %>)</small>
        </h5>

        <table class="table table-borderless table-sm">
          <tbody>
            <% @carteira_posicao.ultimas_operacoes.each do |operacao| %>
              <tr>
                <td><%= display_data operacao.data %></td>
                <td><%= operacao.carteira_ativo.ativo.nome %> </td>
                <td><%= operacao.operacao %></td>
                <td><%= display_moeda operacao.quantidade * operacao.valor_unit * operacao.usdbrl, cores: true %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<br>

<div class="row">
  <div class="col-lg">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if @view == 1 %>" href="<%= carteira_path(@carteira, view: 1) %>">
          Ativos por Book
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if @view == 2 %>" href="<%= carteira_path(@carteira, view: 2) %>">
          Ativos por Corretora
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if @view == 3 %>" href="<%= carteira_path(@carteira, view: 3) %>">
          Referência
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if @view == 4 %>" href="<%= carteira_path(@carteira, view: 4) %>">
          Atual vs. Referência
        </a>
      </li>
    </ul>
    <br>
    <% case @view %>
      <% when 1 %>
        <%= render 'ativos_books' %>
      <% when 2 %>
        <%= render 'ativos_corretoras' %>
      <% when 3 %>
        <%= render 'carteira_referencia' %>
      <% when 4 %>
        <%= render 'posicao_vs_referencia' %>
      <% else %>
        <h5>Escolha o que ver sobre a carteira</h5>
      <% end %>

  </div>
</div>