
<h2>Carteira <%= @carteira.nome %>
  <small>(<%= link_to 'ver referência', carteira_ativos_path(carteira_id: @carteira.id) %>)</small>
</h2>

<div class="row">
  <div class="col-lg">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h3><%= display_moeda @carteira_posicao.total_geral %></h3>
        <small class="text-muted"><%= display_porcentagem @carteira_posicao.rentabilidade, cores=true %> dos
                    <%= display_moeda @carteira_posicao.total_investido %> investidos</small>
        <br>
        <br>
        <h6>
          <%= display_moeda @carteira_posicao.total_ativos %>
          <small class="text-muted"> em ativos</small>
        </h6>

        <% @carteira_posicao.saldo_cc_por_corretora.each do |corretora, moedas_saldos| %>
          <% moedas_saldos.each do |moeda, saldo| %>
            <h6>
              <%= display_moeda saldo %> <small class="text-muted"> saldo <%= corretora %>
                (<%= link_to 'extrato', extratos_path(investidor_id: @carteira.investidor.id, corretora: corretora) %>)
              </small>
            </h6>
          <% end %>
        <% end %>

      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <table class="table table-borderless table-sm">
          <h5 class="card-title">Composição</h5>
          <% @carteira_posicao.porcentagem_por_book.each do |key, value| %>
            <tr><td><%= key %></td><td><%= display_porcentagem value %></td></tr>
          <% end %>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Últimas operações <small>(<%= link_to 'ver todas', carteira_operacoes_path(carteira_id: @carteira.id) %>)</small>
        </h5>

        <table class="table table-borderless table-sm">
          <tbody>
            <% @carteira_posicao.ultimas_operacoes.each do |operacao| %>
              <tr>
                <td><%= display_data operacao.data %></td>
                <td><%= operacao.carteira_ativo.ativo.nome %> </td>
                <td><%= operacao.operacao %></td>
                <td><%= display_moeda operacao.quantidade * operacao.valor_unit * operacao.usdbrl, cores: true %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


<div class="row">
  <div class="col-lg">
    <ul class="nav nav-tabs" id="posicoesTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="books-tab" data-toggle="tab"
           href="#books" role="tab" aria-controls="books" aria-selected="true">
          Posição por Book
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="corretoras-tab" data-toggle="tab"
           href="#corretoras" role="tab" aria-controls="corretoras" aria-selected="false">
          Posição por Corretora
        </a>
      </li>
    </ul>
    <div class="tab-content" id="posicoesTabContent">
      <div class="tab-pane fade show active" id="books" role="tabpanel" aria-labelledby="books-tab">
        <%= render 'posicao_books' %>
      </div>
      <div class="tab-pane fade" id="corretoras" role="tabpanel" aria-labelledby="corretoras-tab">
        <%= render 'posicao_corretoras' %>
      </div>
    </div>

  </div>
</div>