
<h2>Carteira <%= @carteira.nome %></h2>

<div class="row">
  <div class="col-lg">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h3><%= display_moeda @carteira_posicao.total_geral %></h3>
        <small class="text-muted"><%= display_porcentagem @carteira_posicao.rentabilidade, cores=true %> dos
                    <%= display_moeda @carteira_posicao.total_investido %> investidos</small>
        <br>
        <br>
        <h6>
          <%= display_moeda @carteira_posicao.total_ativos %>
          <small class="text-muted"> em ativos</small>
        </h6>

        <% @carteira_posicao.saldo_cc_por_corretora.each do |corretora_nome, moedas_saldos| %>
          <% moedas_saldos.each do |moeda, saldo| %>
            <% next if saldo == 0  %>
            <h6>
              <%= display_moeda saldo, moeda: moeda %> <small class="text-muted"> saldo <%= corretora_nome %>
                (<%= link_to 'extrato', extratos_path(investidor_id: @carteira.investidor.id,
                                                      corretora_id: Corretora.find_by(nome: corretora_nome)) %>)
              </small>
            </h6>
          <% end %>
        <% end %>

        <h7>Dólar: <%= display_moeda Cotacao.cotacao_usdbrl.valor_unit %>
          <small>(<%= display_data Cotacao.cotacao_usdbrl.data %>)</small>
        </h7>

      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <table class="table table-borderless table-sm">
          <h5 class="card-title">Composição</h5>
          <tr><td></td><td><strong>Posição</strong></td><td><strong>Referência</strong></td></tr>
          <% @carteira_posicao.porcentagem_por_book.each do |book, porcentagem| %>
            <tr>
              <td><%= book %></td>
              <td><%= display_porcentagem porcentagem %></td>
              <td><%= display_porcentagem @carteira.ref_books_porcentagem[book] %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Últimas operações <small>(<%= link_to 'ver todas', carteira_operacoes_path(carteira_id: @carteira.id) %>)
          (<%= link_to 'nova', new_carteira_operacao_path(carteira_id: @carteira.id) %>)</small>
        </h5>

        <table class="table table-borderless table-sm">
          <tbody>
            <% @carteira_posicao.ultimas_operacoes.each do |operacao| %>
              <tr>
                <td><%= display_data operacao.data %></td>
                <td><%= operacao.carteira_ativo.ativo.nome %> </td>
                <td><%= operacao.operacao %></td>
                <td><%= display_moeda operacao.quantidade * operacao.valor_unit * operacao.usdbrl, cores: true %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<br>

<div class="row">
  <div class="col-lg">
    <ul class="nav nav-pills nav-justified" id="posicoesTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="books-tab" data-toggle="tab"
           href="#books" role="tab" aria-controls="books" aria-selected="true">
          Posição por Book
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="corretoras-tab" data-toggle="tab"
           href="#corretoras" role="tab" aria-controls="corretoras" aria-selected="false">
          Posição por Corretora
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="referencia-tab" data-toggle="tab"
           href="#referencia" role="tab" aria-controls="referencia" aria-selected="false">
          Carteira Referência
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="referencia-posicao-tab" data-toggle="tab"
           href="#referencia-posicao" role="tab" aria-controls="referencia-posicao" aria-selected="false">
          Posição vs. Referência (em construção)
        </a>
      </li>
    </ul>
    <div class="tab-content" id="posicoesTabContent">
      <div class="tab-pane fade show active" id="books" role="tabpanel" aria-labelledby="books-tab">
        <br>
        <%= render 'posicao_books' %>
      </div>
      <div class="tab-pane fade" id="corretoras" role="tabpanel" aria-labelledby="corretoras-tab">
        <br>
        <%= render 'posicao_corretoras' %>
      </div>
      <div class="tab-pane fade" id="referencia" role="tabpanel" aria-labelledby="referencia-tab">
        <br>
        <%= render 'carteira_referencia' %>
      </div>
      <div class="tab-pane fade" id="referencia-posicao" role="tabpanel" aria-labelledby="referencia-posicao-tab">
        <br>
        <%= render 'posicao_vs_referencia' %>
      </div>
    </div>

  </div>
</div>