<%= bootstrap_form_for [@carteira, @operacao], layout: :horizontal do |f| %>

  <% if @operacao.errors[:base].present? %>
    <%= f.alert_message 'Favor corrigir o(s) erro(s) abaixo. ' + @operacao.errors[:base][0] %>
  <% else %>
    <%= f.alert_message 'Favor corrigir o(s) erro(s) abaixo.' %>
  <% end %>

  <%= f.date_select :data %> <!-- Deixar data em primeiro já que na maioria das vezes não mudamos -->
  <%= f.collection_select :ativo_id, @ativos, :id, :nome_amigavel, focus: true %>
  <%= f.collection_select :corretora_id, @corretoras, :id, :nome %>
  <%= f.hidden_field :carteira_id, value: @carteira.id %>
  <%= f.select :operacao, Operacao.operacoes.keys.to_a %>

  <%= f.number_field :quantidade, step: :any %>
  <%= f.number_field :valor_unit, step: :any, help: "Para fundos, seria o valor da cota" %>
  <% if @operacao.new_record? %>
    <%= f.number_field :valor, step: :any,
                     help: "Valor total, CASO NÃO TENHA quantidade OU valor_unit. Útil para adicionar aportes ou retiradas de fundos em que não esta especificado a quantidade, apenas valor investido e valor cota. Em caso de Tesouro Direto, tem-se a quantidade e valor total, mas nao valor unitario" %>
  <% end  %>

  <%= f.text_field :observacao %>
  <%= f.form_group :terms, help: "Operação de sistema, geralmente usada para ajustes em casos de desdobramentos ou grupamentos, migração de corretora etc." do %>
    <%= f.check_box :operacao_sys %>
  <% end %>

  <h5>Custos Operacionais na moeda do ativo</h5>
  <%= f.number_field :co_taxa, step: :any %>
  <%= f.number_field :co_emolumentos, step: :any %>
  <%= f.number_field :co_corretagem, step: :any %>
  <%= f.number_field :co_iss_iof, step: :any %>
  <%= f.number_field :co_irrf, step: :any %>
  <%= f.number_field :co_outros, step: :any %>

  <%= f.form_group do %>
    <%= f.submit 'Salvar' %>
    <%= link_to 'Cancelar', :back, class: 'btn btn-link' %>
  <% end %>

<% end %>