<div class="row g-3">
  <div class="col-md-6"><%= d.label :conta_origem_id, "Conta de origem" %><%= d.collection_select :conta_origem_id, @contas, :id, :nome, {}, class: "form-select" %></div>
  <div class="col-md-6"><%= d.label :conta_destino_id, "Conta de destino" %><%= d.collection_select :conta_destino_id, @contas, :id, :nome, {}, class: "form-select" %></div>
  <div class="col-md-6"><%= d.label :ativo_id, "Ativo" %><%= d.collection_select :ativo_id, @ativos, :id, :codigo, {}, class: "form-select" %></div>
  <div class="col-md-6"><%= d.label :quantidade %><%= d.number_field :quantidade, step: :any, min: 0, class: "form-control" %></div>
</div>
