<% corretora = local_assigns.fetch :corretora, nil %>

<table class="table table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th>Data</th>
    <th>Total final do mês</th>
    <th>Movimentações</th>
    <th>Rendimento</th>
    <th>Rentabilidade</th>
  </tr>
  </thead>
  <tbody>
  <% total_geral_ultimo_mes = 0 %>
  <% movimentacoes_mes_a_mes = @carteira.movimentacoes.mes_a_mes(corretora) %>
  <% @ultimos_posicao.each do |posicao| %>
    <% total_geral = posicao.total_geral(corretora) %>
    <% total_movimentacoes_mes = (movimentacoes_mes_a_mes[posicao.data] || 0) %>
    <% total_base_comparacao = total_geral_ultimo_mes + total_movimentacoes_mes %>
    <tr>
      <td><%= display_mes_ano posicao.data %></td>
      <td><%= display_moeda total_geral %></td>
      <td><%= display_moeda movimentacoes_mes_a_mes[posicao.data] %></td>
      <td><%= display_moeda total_geral - total_base_comparacao %></td>
      <td><%= display_porcentagem ((total_geral / total_base_comparacao) - 1) * 100 %></td>
      <% total_geral_ultimo_mes = total_geral %>
    </tr>
  <% end %>
  </tbody>
</table>