<%= render 'common/titulo_pagina', titulo: ['Movimentações total de ', display_moeda(@total)]  %>

<h6>Aportes e resgates na carteira, em todas corretoras</h6>

<br>
<table class="table table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th>Data</th>
    <th>Valor</th>
    <th>Acumulado</th>
    <th>Conta Corrente</th>
  </tr>
  </thead>
  <tbody>
  <% acumulado = 0 %>
  <% @movimentacoes.each do |movimentacao| %>
    <% acumulado += movimentacao.valor %>
    <% cc = movimentacao.extrato.conta_corrente %>
    <tr>
      <td><%= display_data movimentacao.data %></td>
      <td><%= display_moeda movimentacao.valor, moeda: movimentacao.moeda %></td>
      <td><%= display_moeda acumulado, moeda: movimentacao.moeda %></td>
      <td><%= link_to cc.nome, carteira_conta_corrente_path(@carteira, cc) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h4>Mês a mês</h4>
<table class="table table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th>Mês</th>
    <th>Valor</th>
    <th>Acumulado</th>
  </tr>
  </thead>
  <tbody>
    <% acumulado = 0 %>
    <% @mes_a_mes.each do |data, valor| %>
      <% acumulado += valor %>
      <tr>
        <td><%= display_mes_ano data %></td>
        <td><%= display_moeda valor %></td>
        <td><%= display_moeda acumulado %></td>
      </tr>
    <% end %>
  </tbody>
</table>
