<%= render 'common/titulo_pagina', titulo: "Posição por corretora em #{display_data @data}" %>

<table class="table table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Ativo</th>
    <th scope="col">Posição<br></th>
    <th scope="col">Quantidade<br></th>
    <th scope="col">Preço<br></th>
    <th scope="col">Preço Médio<br></th>
  </tr>
  </thead>

  <tbody>
  <% @posicao.por_corretora.each do |corretora_nome, tipos|  %>
    <tr class="table-primary">
      <td colspan="5">
        <h6><%= corretora_nome %></h6>
      </td>
    </tr>
    <% tipos.each do |tipo, ativos_posicoes| %>
      <tr class="table-dark">
        <td colspan="5">
          <h6><%= tipo.upcase %></h6>
        </td>
      </tr>
      <% ativos_posicoes.each do |posicao_ativo| %>
        <% ativo = posicao_ativo.ativo %>
        <tr>
          <td><%= link_to ativo.nome_amigavel, posicao_ativo_path(@carteira, ativo) %></td>
          <td><%= display_moeda posicao_ativo.valor, moeda: ativo.moeda %></td>
          <td><%= display_numero posicao_ativo.quantidade %></td>
          <td><%= display_preco_atual posicao_ativo %></td>
          <td><%= display_preco_medio posicao_ativo %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>

</table>