<%= render 'common/titulo_pagina', titulo: "Posição por corretora em #{display_data @data}" %>

<table class="table table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Ativo</th>
    <th scope="col">Posição<br></th>
    <th scope="col">Quantidade<br></th>
    <th scope="col">Preço<br></th>
    <th scope="col">Preço Médio<br></th>
  </tr>
  </thead>

  <tbody>
  <% @posicao.por_corretora.each do |corretora_nome, tipos|  %>
    <tr class="table-primary">
      <td colspan="5">
        <h6><%= corretora_nome %></h6>
      </td>
    </tr>
    <% tipos.each do |tipo, posicao_ativos| %>
      <tr class="table-info">
        <td>
          <h6><%= tipo.upcase %></h6>
        </td>
        <td colspan="4">
          <h6><%= valor_total_posicao_ativos posicao_ativos %></h6>
        </td>
      </tr>

      <% if corretora_nome == 'XP' %>
        <!-- Sort por tamanho de posição é o padrão de display na XP -->
        <% posicao_ativos_sorted = posicao_ativos.sort_by { |pa| pa.valor_em_brl }.reverse %>
      <% elsif corretora_nome == 'Vitreo' || corretora_nome == 'Avenue' %>
        <!-- Sort alfabetico é o padrão de display na Vitreo, Avenue tanto faz então deixamos alfabetico tb -->
        <% posicao_ativos_sorted = posicao_ativos.sort_by { |pa| pa.ativo.nome } %>
      <% else %>
        <% posicao_ativos_sorted = posicao_ativos %>
      <% end %>

      <% posicao_ativos_sorted.each do |posicao_ativo| %>
        <% ativo = posicao_ativo.ativo %>
        <tr>
          <td><%= link_to ativo.nome_amigavel, posicao_ativo_path(@carteira, ativo) %></td>
          <td><%= display_moeda posicao_ativo.valor, moeda: ativo.moeda %></td>
          <td><%= display_numero posicao_ativo.quantidade %></td>
          <td><%= display_preco_atual posicao_ativo %></td>
          <td><%= display_preco_medio posicao_ativo %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>

</table>