
<%= render 'common/titulo_pagina', titulo: "Posição atual vs. referencia #{link_to @carteira.referencia.nome, referencia_path(@carteira.referencia)}" %>

<div class="container">
  <table class="table table-sm">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Ativo</th>
      <th scope="col">Posição</th>
      <th scope="col">Referência</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <% @referencia_ativos_por_book.each do |book, referencia_ativos| %>
      <tr class="table-primary">
        <td>
          <h6><%= book %></h6>
        </td>
        <td>
          <h6><%= display_porcentagem @porcentagens_por_book_carteira[book] %></h6>
        </td>
        <td>
          <h6><%= display_porcentagem @porcentagens_por_book_ref[book] %></h6>
        </td>
        <td></td>
      </tr>
      <% referencia_ativos.each do |referencia_ativo| %>
        <% ativo = referencia_ativo.ativo %>
        <% if @carteira_lista_de_ativos.include?(ativo) %>
          <% @posicao_restante.delete ativo %>
        <% end %>
        <% percent_ativo = @posicao.porcentagem_ativo(ativo) %>
        <tr <%= 'class=table-warning' if percent_ativo.zero? %>>
          <td><%= link_to ativo.nome_amigavel, posicao_ativo_path(@carteira, ativo) %></td>
          <td>
            <%= display_porcentagem percent_ativo %>
          </td>
          <td><%= display_porcentagem referencia_ativo.porcentagem %></td>
          <td>
            <% diff_valor_brl = @posicao_referencia.diff_valor_referencia_brl(ativo) %>
            <% quant = @posicao_referencia.diff_quant_referencia(ativo) %>
            <% ap = @posicao.busca_posicao_ativo(ativo) %>
            <% operacao = (diff_valor_brl.negative? || percent_ativo.zero?) ? 'C' : 'V' %>

            <!-- Agora mostra conteúdo -->
            <%= render 'common/btn_oper_corretora', corretora: ap ? ap.corretora : nil,
                                                      ativo: ativo, operacao: operacao, disabled: ap.nil?  %>
            <%= quant.round(4).abs %>
            (<%= display_moeda(@posicao_referencia.diff_valor_referencia_usd(ativo).abs, moeda: ativo.moeda_negociacao) if ativo.usd? %>
            <%= display_moeda(diff_valor_brl.abs) %>)
          </td>
        </tr>
      <% end %>
    <% end %>

    <!-- Ativos que não estão na referencia -->
    <tr class="table-primary table-sm">
      <td><h6><i>NÃO ESTÃO EM REFERÊNCIA</i></h6></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @posicao_restante.each do |ativo| %>
      <tr>
        <td><span class="font-weight-light"><%= link_to ativo.nome_amigavel, posicao_ativo_path(@carteira, ativo) %></span></td>
        <td><span class="font-weight-light"><%= display_porcentagem @posicao.porcentagem_ativo(ativo) %></span></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>