<h4><%= @ativo.nome_amigavel %> em <%= display_data @data %> (ver <%= link_to 'histórico cotações', ativo_cotacoes_path(@ativo) %>)</h4>

<dl class="row">
  <dt class="col-sm-3">Investido</dt>
  <dd class="col-sm-9"><%= display_moeda @posicao_ativo.valor_investido, moeda: @ativo.moeda_negociacao %></dd>

  <dt class="col-sm-3">Valor posição</dt>
  <dd class="col-sm-9">
    <%= display_moeda @posicao_ativo.valor, moeda: @ativo.moeda_negociacao %>
    (<%= display_rentabilidade @posicao_ativo %>)
  </dd>

  <dt class="col-sm-3">Preço Médio</dt>
  <dd class="col-sm-9"><%= display_moeda @posicao_ativo.preco_medio, moeda: @ativo.moeda_negociacao, max_precision: true %></dd>

  <dt class="col-sm-3">Preço Atual</dt>
  <dd class="col-sm-9"><%= display_preco_atual @posicao_ativo %></dd>

  <dt class="col-sm-3">Quantidade</dt>
  <dd class="col-sm-9"><%= display_numero @posicao_ativo.quantidade %></dd>

  <dt class="col-sm-3">Porcentagem na carteira</dt>
  <dd class="col-sm-9"><%= display_porcentagem @posicao.porcentagem_ativo @ativo %></dd>

  <% if @carteira.referencia.present? %>
    <dt class="col-sm-3">Porcentagem teórica</dt>
    <dd class="col-sm-9"><%= display_porcentagem @carteira.referencia.porcentagem(@ativo) %></dd>
  <% end %>

  <dt class="col-sm-3">Corretora</dt>
  <dd class="col-sm-9"><%= @posicao_ativo.corretora.nome %></dd>
</dl>

<br>
<% operacoes = @posicao_ativo.operacoes  %>
<h5>Operações (<%= link_to 'registrar operação', new_carteira_operacao_path(@carteira) %>)</h5>
<%= render 'common/operacoes_table',
           operacoes: operacoes,
           mostra_nome: false %>
