<%= render 'common/titulo_pagina', titulo: "Posição por corretora em #{display_data @data}" %>

<table class="table table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Ativo</th>
    <th scope="col">Posição<br></th>
    <th scope="col">Quantidade<br></th>
    <th scope="col">Preço<br></th>
    <th scope="col">Preço Médio<br></th>
  </tr>
  </thead>

  <tbody>
  <% @carteira_ativos.ativos_posicao_por_corretora.each do |corretora_nome, tipos|  %>
    <tr class="table-primary">
      <td colspan="5">
        <h6><%= corretora_nome %></h6>
      </td>
    </tr>
    <% tipos.each do |tipo, carteira_ativos_posicoes| %>
      <tr class="table-dark">
        <td colspan="5">
          <h6><%= tipo.upcase %></h6>
        </td>
      </tr>
      <% carteira_ativos_posicoes.each do |ativo_posicao| %>
        <% ativo = ativo_posicao.ativo %>
        <tr>
          <td><%= link_to ativo.nome_amigavel, carteira_ativo_path(@carteira, ativo) %></td>
          <td><%= display_moeda ativo_posicao.valor, moeda: ativo.moeda %></td>
          <td><%= display_numero ativo_posicao.quantidade %></td>
          <td><%= display_preco_atual ativo_posicao %></td>
          <td><%= display_preco_medio ativo_posicao %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>

</table>