<div class="row">
  <div class="col-sm-6">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h3><%= display_moeda @carteira_ativos.total_geral %> <small class="text-muted">em <%= display_data @data %></small></h3>
          <h5>
            <small class="font-weight-lighter">
              <%= display_moeda @carteira_ativos.rendimento %> de rendimento
              (<%= display_porcentagem @carteira_ativos.rentabilidade, cores: true %>) dos
              <%= display_moeda @carteira_ativos.total_investido %> <%= link_to 'movimentados', carteira_movimentacoes_path(@carteira)  %>
            </small>
          </h5>
          <br>
          <h5><%= display_moeda @carteira_ativos.total_ativos %>
            <small class="text-muted"> em ativos</small>
          </h5>
          <% @carteira_ativos.total_ativos_por_corretora.each do |corretora, moeda_total| %>
            <% moeda_total.each do |moeda, total| %>
              <span class="font-weight-lighter">
                <%= display_moeda total, moeda: moeda %> <small class="text-muted"><%= corretora.nome %></small>
              </span>
            <% end %>
            <br>
          <% end %>
          <br>
          <h5><%= display_moeda @carteira_ativos.saldo_cc_total %> <small class="text-muted"> em conta corrente</small></h5>
          <% @contas_correntes.each do |cc| %>
            <% saldo = cc.saldo(@data)  %>
            <% next if saldo == 0  %>
            <span class="font-weight-lighter">
              <%= display_moeda saldo, moeda: cc.moeda %>
              <small class="text-muted">
                <%= cc.corretora.nome %> (<%= link_to 'extrato', carteira_conta_corrente_path(@carteira, cc, data: @data) %>)
              </small>
            </span>
            <br>
          <% end %>

        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <table class="table table-borderless table-sm">
          <tr><td></td><td><strong>Posição</strong></td><td><strong>Referência</strong></td></tr>
          <% @porcentagens_por_book_ref.each do |book, porcentagem_ref| %>
            <tr>
              <td><strong><%= book %></strong></td>
              <td><%= display_porcentagem @porcentagens_por_book_carteira[book] %></td>
              <td><%= display_porcentagem porcentagem_ref %></td>
            </tr>
          <% end %>
          <% pm = @carteira_ativos.porcentagem_por_moeda %>
          <% pm_ref = @carteira.referencia.porcentagem_por_moeda %>
          <tr>
            <td>em BRL</td>
            <td><%= display_porcentagem pm['BRL'] %></td>
            <td><%= display_porcentagem pm_ref['BRL'] %></td>
          </tr>
          <tr>
            <td>em USD</td>
            <td><%= display_porcentagem pm['USD'] %></td>
            <td><%= display_porcentagem pm_ref['USD'] %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>