
<%= render 'common/voltar_carteira', carteira: @carteira_ativo.carteira %>

<h6><%= @carteira_ativo.ativo.nome_amigavel %> (ver <%= link_to 'histórico cotações', ativo_cotacoes_path(@carteira_ativo.ativo) %>)</h6>
<h6>Investido: <%= display_moeda @carteira_ativo.valor_investido, moeda: @carteira_ativo.ativo.moeda %></h6>
<h6>Quantidade: <%= @carteira_ativo.quantidade %></h6>

<% operacoes = @carteira_ativo.operacoes.order(:data)  %>

<%= render 'common/operacoes_table',
           operacoes: operacoes,
           mostra_nome: false %>
