<%= form_with model: @ativo do |f| %>
  <% @ativo.errors.full_messages.each do |erro| %><div class="alert alert-danger"><%= erro %></div><% end %>
  <div class="row g-3">
    <div class="col-md-3"><%= f.label :codigo %><%= f.text_field :codigo, class: "form-control" %></div>
    <div class="col-md-3"><%= f.label :mercado %><%= f.text_field :mercado, class: "form-control" %></div>
    <div class="col-md-3"><%= f.label :tipo %><%= f.select :tipo, Ativo.tipos.keys, {}, class: "form-select" %></div>
    <div class="col-md-3"><%= f.label :cnpj %><%= f.text_field :cnpj, class: "form-control" %></div>
    <div class="col-md-6"><%= f.label :moeda_negociacao_id %><%= f.collection_select :moeda_negociacao_id, @moedas, :id, :codigo, {}, class: "form-select" %></div>
    <div class="col-md-6"><%= f.label :moeda_exposicao_id %><%= f.collection_select :moeda_exposicao_id, @moedas, :id, :codigo, {}, class: "form-select" %></div>
    <div class="col-12"><%= f.label :descricao %><%= f.text_area :descricao, class: "form-control" %></div>
  </div>
  <%= f.submit class: "btn btn-primary mt-3" %>
<% end %>
