<%= form_with model: @referencia do |f| %><div class="mb-3"><%= f.label :nome %><%= f.text_field :nome, class: "form-control" %></div><div class="mb-3"><%= f.label :descricao %><%= f.text_area :descricao, class: "form-control" %></div><%= f.submit class: "btn btn-primary" %><% end %>
