<%= render 'common/titulo_pagina', titulo: "Referência #{@referencia.nome}" %>

<h4>
  Seguida por
  <% @referencia.carteiras.each do |carteira| %>
    <%= link_to(carteira.nome, posicao_path(carteira)) %>
  <% end %>
</h4>


<h4>Ativos
<%= render 'common/btn_new',
           url: new_referencia_referencia_ativo_path(@referencia),
           label: 'Novo ativo' %>
</h4>

<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ativo</th>
      <th scope="col">Porcentagem</th>
      <th scope="col">Última modificação</th>
      <th scope="col">Data Entrada</th>
      <th scope="col">Data Saida</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary text-center">
      <td colspan="6">
        <h5>Total <%= display_porcentagem @referencia.sum_porcentagem_ativos %></h5>
      </td>
    </tr>
    <% @referencia.referencia_ativos_por_book.each do |book, referencia_ativos| %>
      <% book_percent = @porcentagens_por_book_ref[book] %>
      <tr class="table-primary text-center">
        <td colspan="6">
          <h6><%= book %> (<%= display_porcentagem book_percent %>)</h6>
        </td>
      </tr>
      <% referencia_ativos.each do |referencia_ativo| %>
        <tr>
          <td><%= link_to referencia_ativo.ativo.nome_amigavel, ativo_cotacoes_path(referencia_ativo.ativo) %></td>
          <td><%= display_porcentagem referencia_ativo.porcentagem %></td>
          <td><%= referencia_ativo.updated_at %></td>
          <td><%= referencia_ativo.data_entrada %></td>
          <td><%= referencia_ativo.data_saida %></td>
          <td><%= link_to 'editar', edit_referencia_referencia_ativo_path(@referencia, referencia_ativo) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
