<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <% if @carteira %>
    <a class="navbar-brand" href="<%= carteira_ativos_path(@carteira) %>">Carteira <%= @carteira.nome %></a>
  <% else %>
    <a class="navbar-brand" href="<%= root_path %>">Carteiras</a>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if @carteira %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posição
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Por book', carteira_ativos_path(@carteira, view: 'book', data: @data), class: "dropdown-item"  %>
            <%= link_to 'Por corretoras', carteira_ativos_path(@carteira, view: 'corretoras', data: @data), class: "dropdown-item"  %>
            <%= link_to 'Atual vs. Referência', carteira_ativos_path(@carteira, view: 'atual_vs_ref'), class: "dropdown-item"  %>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= carteira_operacoes_path(@carteira) %>">Operações</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= carteira_movimentacoes_path(@carteira) %>">Movimentações</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= carteira_proventos_path(@carteira) %>">Proventos</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            C.Cs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @carteira.conta_correntes.each do |cc| %>
              <%= link_to "#{cc.corretora.nome} #{cc.moeda}", carteira_conta_corrente_path(@carteira, cc), class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to "Nova C.C.", new_carteira_conta_corrente_path(@carteira), class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= carteira_impostos_path(@carteira) %>">Impostos</a>
        </li>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= referencias_path %>">Referências</a>
          <a class="dropdown-item" href="<%= carteiras_path %>">Carteiras</a>
          <a class="dropdown-item" href="<%= ativos_path %>">Ativos</a>
        </div>
      </li>
    </ul>
    <span class="navbar-text">
          Dólar: <%= display_moeda @cotacao_usdbrl.valor_unit %>
      <small>(<%= display_data @cotacao_usdbrl.data %>)</small>
      </span>
  </div>
</nav>