<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Posição
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><%= link_to 'Por book', posicao_path(@carteira, view: 'book', data: @data), class: "dropdown-item"  %></li>
    <li><%= link_to 'Por corretoras', posicao_path(@carteira, view: 'corretoras', data: @data), class: "dropdown-item"  %></li>
    <li><%= link_to 'Atual vs. Referência', posicao_path(@carteira, view: 'atual_vs_ref'), class: "dropdown-item"  %></li>
  </ul>
</li>

<li class="nav-item">
  <a class="nav-link" href="<%= carteira_rentabilidade_path(@carteira) %>">Rentabilidade</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="<%= carteira_operacoes_path(@carteira) %>">Operações</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="<%= carteira_movimentacoes_path(@carteira) %>">Movimentações</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="<%= carteira_proventos_path(@carteira) %>">Proventos</a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    C.Cs
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% @carteira.conta_correntes.each do |cc| %>
      <li><%= link_to "#{cc.corretora.nome} #{cc.moeda}", carteira_conta_corrente_path(@carteira, cc), class: "dropdown-item" %></li>
    <% end %>
    <li><hr class="dropdown-divider"></li>
    <li><%= link_to "Nova C.C.", new_carteira_conta_corrente_path(@carteira), class: "dropdown-item" %></li>
  </ul>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Impostos
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="<%= carteira_ganho_de_capital_path(@carteira) %>">Ganho de Capital</a></li>
    <li><a class="dropdown-item" href="<%= carteira_posicao_ano_anterior_path(@carteira) %>">Posição ano anterior</a></li>
  </ul>
</li>